<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/images/styles.css">

    <title>Dealership Car Listing</title>
  
</head>
<body>
    <nav id="navbar">
        <ul >
            <li ><a class="item" href="/"> Home </a></li>
            <li >                
                <div class="dropdown">
                <a class="item" href="/services"> Services</a>
                <div class="dropdown-content">
                    <a href="/services/oil_change"> Oil Change Booking </a>
                    <a href="/services/tire_change">Tire Change Booking </a>
                    <a href="/services/safety_inspection"> Safety INspection  Book </a>
                    <a href="/parts"> Parts </a>
                </div>
            </div></li>
            <li class="dropdown">
                <a class="item" href="/rental">Rent a Car</a>
                <div class="dropdown-content">
                  <a href="/rental/diesel"> diesel </a>
                  <a href="/rental/petrol"> petrol </a>
                  <a href="/rental/electric"> electric </a>
                  <a href="/rental/hybrid"> hybrid </a>
                  <a href="/rental/sedan"> Sedan </a>
                  <a href="/rental/mid_suv"> Mid Size Suv </a>
                  <a href="/rental/compact_suv"> Compact Suv </a>
                  <a href="/rental/coupe"> Coupe </a>
                  <a href="/rental/station_wagon"> Station Wagon </a>
                  <a href="/rental/hatchback"> Hatchback </a>
                  <a href="/rental/AWD"> AWD (All-Wheel Drive) </a>
                  <a href="/rental/FWD"> FWD (Front-Wheel Drive) </a>
                  <a href="/rental/4x4"> 4x4 </a>
                  <a href="/rental/RWD"> RWD (Rear-Wheel Drive) </a>
            <li class="dropdown">
                <a class="item" href="/inventory">Inventory</a>
                <div class="dropdown-content">
                  <a href="/inventory/pre_owned"> pre_owned </a>
                  <a href="/inventory/diesel"> diesel </a>
                  <a href="/inventory/petrol"> petrol </a>
                  <a href="/inventory/electric"> electric </a>
                  <a href="/inventory/hybrid"> hybrid </a>
                  <a href="/inventory/sedan"> Sedan </a>
                  <a href="/inventory/mid_suv"> Mid Size Suv </a>
                  <a href="/inventory/compact_suv"> Compact Suv </a>
                  <a href="/inventory/coupe"> Coupe </a>
                  <a href="/inventory/station_wagon"> Station Wagon </a>
                  <a href="/inventory/hatchback"> Hatchback </a>
                  <a href="/inventory/AWD"> AWD (All-Wheel Drive) </a>
                  <a href="/inventory/FWD"> FWD (Front-Wheel Drive) </a>
                  <a href="/inventory/4x4"> 4x4 </a>
                  <a href="/inventory/RWD"> RWD (Rear-Wheel Drive) </a>
                  
                  
            <li><form id="form1" action="/search" method="POST">
                <input type="text" name="search" required> 
                <button  type="submit"> search </button>
            </form></li>
            <%  if (logged_in) { %>
                <div class="dropdown">
                    <a class="item" href="/your_profile">Your Profile</a>
                    <div class="dropdown-content">
                        <a href="/your_profile"> <%= logged_in %> <a>
                    </div>
                </div>

            <% if(role == "admin"){  %>
                <div class="dropdown">
                    <a class="item" href="#">Admin Login</a>
                    <div class="dropdown-content">
                        <a href="/add">Add Inventory</a>
                        <a href="/rental_add">Add Rental </a>
                        <a href="/profile"> All User Profile</a>
                    </div>
                </div>
            <% } %>
               
                <% }else { %>
                    <p class="sign"> <a href="/login"> login</a></p>
                    <p class="sign"> <a href="/signup"> sign up </a></p>
                    <% } %>
           
        
            <%  if (logged_in) { %>
                <p class="sign" > <a href="/logout"> logout </a></p>
                <% } %>
               
        </ul> 
    </nav>
    <div id="buycar">

    <div class="car-form">
        <div class="car-item">
            <p class="car-detail"><%= specific_car.car_name %> - <%= specific_car.company %></p>
            <p class="car-detail">Model: <%= specific_car.model %></p>
            <p class="car-detail">Year: <%= specific_car.car_year %></p>
            <p class="car-detail">Colour: <%= specific_car.colour %></p>
            <p class="car-detail">VIN No: <%= specific_car.vin_no %></p>
            <p class="car-detail">Price: <%= specific_car.car_price %></p>
            <p class="car-detail">Engine: <%= specific_car.engine %></p>
            <p class="car-detail">Type: <%= specific_car.type %></p>
            <p class="car-detail">Pre-owned: <%= specific_car.pre_owned %></p>
            <p class="car-detail">Fuel Type: <%= specific_car.fuel_type %></p>
            <p class="car-detail">Description: <%= specific_car.extra %></p>
            <p class="car-detail">Financing: <%= specific_car.financing %></p>
            <p class="car-detail">Sale: <%= specific_car.sale %></p>
            </div>
            <div class="car-item">
            <img class="car-image" src="/images/<%= specific_car.filename %>" alt="car image">
            <a class="finance-link" href="/finance/<%= specific_car._id %>">Check Emi</a>
        </div>
    </div>
            
            <!-- <img src="/images/1711840696447-tesla.jpg" alt="Tesla"> -->
        <div class="appointment-form">
            <h3>Interested in buying this car? Book an appointment now:</h3>
            <form id="form2" action="/book" method="POST">
                <input class="input2" type="hidden" name="car_name" value="<%= specific_car.car_name %>">
                <input class="input2"  type="hidden" name="company" value="<%= specific_car.company %>">
                <input class="input2"  type="hidden" name="car_year" value="<%= specific_car.car_year%>">
                <input class="input2"  type="hidden" name="model" value="<%= specific_car.model%>">
                <input class="input2"  type="hidden" name="colour" value="<%= specific_car.colour%>">
                <input class="input2"  type="hidden" name="rent_per_hour" value="<%= specific_car.rent_per_hour%>">
                <input class="input2"  type="hidden" name="type" value="<%= specific_car.type%>">
                <input class="input2"  type="hidden" name="fuel_type" value="<%= specific_car.fuel_type%>">
                <input class="input2"  type="hidden" name="extra" value="<%= specific_car.extra%>">
                <input class="input2"  type="hidden" name="engine" value="<%= specific_car.engine%>">
                <input class="input2"  type="hidden" name="rent_or_inventory" value="inventory">
                <input class="input2"  type="hidden" name="booked" value="yes">
     
                <label class="label2" for="booked_by">Name:</label>
                <input class="input2"  type="text" id="booked_by" name="booked_by" required>
                <label class="label2" for="phone_no">Phone Number:</label>
                <input class="input2"  type="number" id="phone_no" name="phone_no"required maxlength="10">

                <button id="btn3" type="submit">Book Appointment</button>
            </form>
        </div>
    </div>
<footer> 
    <div class="column">
    <h2> <a href="/services" > Services </a> </h2>
    <ul>
        <li><a href="/services/oil_change"> Book Oil Change</a></li>
        <li><a href="/services/tire_change"> Book Tire Change</a></li>
        <li><a href="/services/safety_inspection"> Book Safety Inspection</a></li>
        </ul>
        </div>
        <div class="column">
        <h2> <a href="/support" > Support </a></h2>
       <ul>
            <li><a href="/support"> Call us </li>
            <li><a href="/support"> Walk in </li>
           <li><a href="/support"> View Map </li>
        </ul>
        </div>
            <div class="column">
        <h2> <a href="/inventory" > View cars </a></h2>
       <ul>
            <li><a href="/rental"> Rent a car </li>
            <li><a href="/inventory">New Arrivals </li>
           <li><a href="/inventory"> lastest discount </li>
        </ul>
        </div>
        <div class="column">
            <h2> <a href="/parts" > Parts </a></h2>
           <ul>
                <li><a href="/parts"> Tools </li>
                <li><a href="/parts">Maintainnence guide </li>
               <li><a href="/parts"> Check your car</li>
            </ul>
            </div>
       
</footer>  
</body>
</html>
